{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <div class="container">
        <div id="calendar-holder"></div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                editable: true,
                eventSources: [
                    {
                        url: "/fc-load-events",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                    header: {
                    left: "prev,next today",
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                }
            );
                calendar.render();
        });
    </script>
{% endblock %}
